.team-section-container {
    /* set background image */
}

.meet-the-team {
    display: block;
    margin-top: 200px;
	margin-bottom: 75px;
    text-align: center;
}

.teamContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teamMember {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    
    margin-top: 7vh;
    
    width: 40vh;
    height: 55vh;
    
    border: 6px solid transparent;
    border-radius: 30px;

    transition: transform 0.3s ease;
}
  
.teamMember:hover {
    transform: scale(1.1);
    border-color: rgb(47, 161, 255);
}

.teamMember img {
    margin: 0;
    
    width: 100%;
    height: auto;
    
    border-radius: 15px;
}

.teamMember .title {
    display: flex;
}

.teamMember .social-icons {
    margin-top: 13.3%;
}

.teamMember .linkedin-icon {
    margin-left: -30px;
    color: #0077b5;
}

.teamMember .github-icon {
    margin-left: 10px;
    color: #333;
}

.teamMember .desc {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 45%;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    background-color: rgb(224, 240, 254);
    text-align: left;
    color: black;
}

.teamMember .desc .name {
    margin-top: 12.5%;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 0;
}

.teamMember .role {
    color: gray;
}

.teamMember .desc .role {
	margin-top: 2%;
	margin-left: 13%;
	margin-right: 13%;
}

.teamMember .desc .bio {
	margin-left: 13%;
	margin-right: 13%;
}