.team-section-container {
    padding: 0.25rem 0;
    box-shadow: 0px 2rem 15rem 16em #0f0f11 inset;
    background-image: url(../assets/svg/circuit-board.svg);

}

.meet-the-team {
    font-size: 4rem;
    display: block;
    margin-top: 200px;
	margin-bottom: 75px;
    text-align: center;
}

.teamContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teamMember {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    
    margin-top: 7vh;
    
    width: 40vh;
    height: 55vh;
    
    border: 6px solid transparent;
    border-radius: 30px;

    transition: all 800ms ease-in-out;
    transition: transform 300ms ease-in-out;
}
  
.teamMember:hover {
    transform: scale(1.1);
    border-color: lightgreen;
}

.teamMember img {
    margin: 0;
    
    width: 100%;
    height: auto;
    
    border-radius: 15px;
}

.teamMember .title {
    display: flex;
}

.teamMember .social-icons {
    margin-top: 13.3%;
}

.teamMember .linkedin-icon {
    /* margin-left: -30px; */
    color: #0077b5;
}

.teamMember .github-icon {
    margin-left: 10px;
    color: #333;
}

.teamMember .desc {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: fit-content;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    background-color: black;
    text-align: left;
    color: snow;

    transition: all 300ms ease-in-out;
}

.teamMember .desc .name {
    margin-top: 12.5%;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 0;
}

.teamMember .role {
    color: gray;
}

.teamMember .desc .role {
	margin-top: 2%;
	margin-left: 13%;
	margin-right: 13%;
}

.teamMember .desc .bio {
	margin-left: 13%;
	margin-right: 13%;
    max-height: 0;
    overflow: hidden;

    transition: all 300ms ease-in-out;


}

.teamMember:hover .desc .bio{
    max-height: 500rem;
    overflow-y: auto;
}
.teamMember:hover .desc {
    color: black;
    background-color: snow;
}