
#teamDiv {
    margin-top: 7vh;
}

#teamDiv h1 {
    display: block;
    margin-top: 150px;
	margin-bottom: 75px;
}

#teamContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teamMember {
    text-align: center;
    box-sizing: border-box;
    width: 330px;
    height: 470px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    margin-top: 50px;
    margin-left: 12px;
    margin-right: 12px; 
}

.teamMember img {
    width: 100%;
    border-radius: 15px;
    margin-top: 0;
    object-fit: cover;
    height: auto;
}

.teamMember .desc {
    background-color: aliceblue;
    position: absolute;
    text-align: left;
    color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    bottom: 0;
    width: 100%;
    height: 45%;
}

.teamMember .desc .name {
    margin-top: 13%;
	margin-bottom: 0;
	margin-left: 13%;
	margin-right: 13%;
}

.teamMember .desc .role {
	margin-top: 2%;
	margin-left: 13%;
	margin-right: 13%;
}

.teamMember .desc .bio {
	margin-left: 13%;
	margin-right: 13%;
}