#blurb {
    margin: 5rem 1rem;
    padding: 0;
    width: 60%;
    font-size: 0.85rem;
    margin: 0 auto;
}

.aboutContainer h2 {
    margin: 0;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.aboutUs {
    margin: 1rem 0;
}

.aboutUs p {
    margin: 2rem 0;
}

#goalGrid {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.goalTitle {
    font-size: 1.225rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
	margin-top: 0;
}


@media screen and (max-width: 600px){
    #blurb {
        width: 90%;
    }
    #goalGrid {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        }
    
        .aboutUs p{
            margin-left: 0;
        }
}