.goals {
  margin-top: 3rem;
}

.goal-grid {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.7rem;
}

.goal-title {
  color: rgb(161, 161, 161);
  font-weight: 900;
  font-size: 1.025rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.goal-desc {
  color: aliceblue;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.goal {
  background-color: #111111;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #333333;
}

@media screen and (max-width: 750px) {
  .goal-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
