.contactContainer {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1s ease, transform 1s ease;
}

.contactContainer #title {
	text-align: center;
	margin-bottom: 5rem;
}

.contactContainer.fade-in-up {
	opacity: 1;
	transform: translateY(0);
}

.contactContainer {
	margin-top: 20vh;
	/* margin-bottom: 1rem; */
}

.info {
	display: flex;
	align-items: center;
}

/* Add your preferred styles for the overall container */
.info {
	display: flex;
	justify-content: space-between;
	max-width: 800px;
	margin: auto;
	padding: 20px;
}
  
  /* Style for the contact information section */
.contactInfo {
	flex: 1;
	padding-right: 20px;
}

.contactInfo h2 {
	font-size: 18px;
	color: white;
	margin-bottom: 8px;
}
  
.contactInfo p {
	font-size: 16px;
	color: #9b9b9b;
}

.contactForm {
	flex: 1;
}
  
.contactForm label {
	display: block;
	margin-bottom: 12px;
}
  
.contactForm input,
.contactForm textarea {
	width: 100%;
	padding: 12px;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	box-sizing: border-box;
	border-radius: 12px;
}

.contactForm textarea {
	height: 150px; /* Adjust the height as needed */
  	resize: vertical; /* Allow vertical resizing */
}
  
.contactForm button {
	background-color: lightgreen;
	color: #000;
	padding: 12px 20px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	font-size: 16px;
}
  
.contactForm button:hover {
	background-color: #45a049;
}
  