
#eventContainer {
	z-index: 0;
	margin: 0;
	padding: 5rem;

	background-image: url(../assets/svg/circuit-board.svg);
    box-shadow: 0px 5px 3rem 60px #0f0f11 inset;
	
}
#eventContainer #header {
	margin: 1rem 3rem;
}

#events {

	display: flex;
	width: 100%;

	align-items: center;
	justify-content: space-around;

	flex-wrap: wrap;
	flex-direction: row;

}

#events .grid {
	
	margin: 0;
	width: 42vh;

	-ms-flex-align: center;
	align-items: center;

}

#events .card {
	
	margin: 0.5rem 1rem;
	padding: 3em 0.5em;
	width: 90%;

	/* Perspective on the card flip */
	perspective: 50em;
}

.card:hover #body {
	/* Rotate the card 180 degrees */
	transform: rotateY(180deg);
}

#events .card #body {

	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transform-style: preserve-3d;
	backface-visibility: hidden;

	transition: transform 600ms;
}

#cardface, #cardback{
	/* Round out corners of img and inner divs */
	overflow: hidden;
	border-radius: 8px;
}


/* CARDFACE */

#cardface {
	background-color: #111;
	margin: 0;
}

#cardface img {
	display: block;
	/* height: 20rem; */
	aspect-ratio: 1/1;
}

#cardface #detailContainer {
	display: flex;

	margin: 0;
	height: 100%;

	overflow: hidden;
}

#cardface #dateTime, #cardface #title {

	display: inline-block;

	margin: 0;
	padding: 1em;

	vertical-align: middle;
}

#cardface #title {

	font-family: 'Syne';
	font-size: 1.1rem;
	text-align: left;

	color: #111;
	background-color: snow;

	width: calc(70% - 2em);

}

#cardface #dateTime {

	display: flex;

	font-family: 'Syne';
	font-size: 0.9rem;
	font-weight: 500;

	align-items: center;
	text-align: center;

	color: black;
	background-color: lightgreen;

	
	width: calc(30% - 2em);

}

/* CARDBACK */

#events .card #cardback {

	position: absolute;
	top: 0;

	height: 100%;
	width: 100%;

	margin: 0 auto;

	overflow: hidden;
	color: snow;
	background-color: #111;

	width: 100%;
	margin: auto;

	/* Render the card as pre-rotated */
	transform: rotateY(180deg);

	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;

}
#cardback #details{
	padding: 2rem;
}

.eventTitle {
	margin-top: 16px;
	font-size: 1.25rem;
}

.eventDesc {
	display: block;
	height: 10vh;

	padding: 0 5px;

	overflow-wrap: word-break;
	overflow-y: auto;
	overflow-x: hidden;
}

.eventTag{

	display: block;

	margin: 8px 0;
	width: fit-content;

	padding: 5px 8px;

	border: 0.5px solid lightgreen;
	border-radius: 3em;

	font-weight: bolder;
	font-size: 0.6rem;
	color: lightgreen;
}

.eventLink{

	margin: auto;
	height: 2rem;
	width: fit-content;

	padding: 5px 12px;

	background-color: rgb(138, 214, 138);
	color: #0e0e13;
	font-weight: bolder;

	
	border: 0.5px solid lightgreen;
	border-radius: 2em;

	float: right;

}

#redirectSVG {
	height: 12px;
	margin: auto 0px auto 8px;
}

/* MOBILE VIEWPORT SETTINGS */

@media screen and (max-width: 1200px) {

	#eventContainer {
		padding: 2rem 5rem;
	}
	#events .card #body {
		transition: transform 300ms;}
}