#events {
	margin-top: 40vh;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;
}

#events .grid {
	width: 50%;
	height: 50%;

	margin: 0;
}

#events img {
	aspect-ratio: 1 / 1;
	width: 65%;

}