
#eventContainer {
	margin: 0;
	padding: 0rem 1rem 2rem;

	display: relative;

	background-image: url(../assets/svg/circuit-board.svg);
	background-color: #000000;
    box-shadow: 0px 20px 20rem 5rem #000000 inset;
	
}
#eventContainer #header {
	
	font-size: 1.525rem;
	text-align: center;

	margin: 0rem 3rem 1.5rem;
}

#events {

	display: flex;
	width: 100%;

	align-items: center;
	justify-content: center;

	flex-wrap: nowrap;
	flex-direction: row;

}

/* CARD ALIGNMENT AND ANIMATIONS */

#events .card {

	position: relative;
	width: 13rem;
	height: 16rem;
	align-items: center;

	border-radius: 0.5rem;
	box-sizing: border-box;
	overflow: hidden;

	color: aliceblue;

	transition: all 250ms ease-in-out;
}

.card #cardface p{
	color: rgb(139, 212, 255);
}

.card::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(3,24,11);
	background: linear-gradient(70deg, rgba(223, 33, 163, 0.492) 0%, rgba(255,255,255,0) 50%); 
}

/* Have cards laid into one another */
.card:not(:first-child){
	margin-left: -2.25rem;
}

/* Pop up */
.card:hover{
	transform: translateY(-1rem);
	box-shadow: -1px 1px 10px 1px #000;
}

/* Move succeeding cards to the right  */
.card:hover ~ .card {
	transform: translateX(3rem);
}

/* OVERLAY */

.overlay {

	position: absolute;

	left: 0;
	right: 0;
	
	height: 0;
	width: 100%;

	background-color: #0e0e13;

	overflow: hidden;
	transition: 250ms ease;

}

#cardHeader {
	top: 0;
}

#cardFooter {
	bottom: 0;
}

.card:hover #cardHeader{
	height: 20%;
}

.card:hover #cardFooter {
	height: 77.5%;
}

/* Event Details */

.overlay label {

	display: block;

	padding: 0 1.25rem;
	width: fit-content;
	height: fit-content;


	font-size: 0.67rem;
	text-align: center;

}

#cardHeader #eventName {

	font-size: 0.825rem;

	position: absolute;
	top: 50%;

	transform: translateY(-50%);
	-ms-transform: translateY(-50%);

}

#cardFooter #footDetails {
	position: absolute;
	top: 50%;

	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

#footDetails #eventDetails {

	display: inline-block;

	vertical-align: middle;
	text-align: center;

	height: 6rem;
	overflow-y: scroll;
}

#footDetails #venueGrid {

	display: flex;

	margin: 0;
	margin-bottom: 1rem;
	padding: 0 1.25rem;
	
	flex-wrap: wrap;
	justify-content: space-between;
	
	line-height: 2rem;
}

#venueGrid label{
	flex: 1 1 auto;
	position: relative;
	text-align: center;
	padding: 0;
}

#venueGrid label + label {
	border-left: 0.5px solid #116655;
}

#footDetails a {
	text-decoration: none;
	color: aliceblue;
}

#footDetails #redirect {

	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	background-color: #116655;

	position: relative;
	bottom: 0;
	width: 100%;


	transition: all 100ms ease-in-out;
}

#footDetails #redirect:hover {
	border: none;
	background-color: #408678;
	color: #000;
}


/* CARDFACE */

#cardface {

	display: flex;
	align-items: center;

	margin: 0;
	height: 100%;
	
	background-color: #116655;
	
}


#cardface p {

	color: black;

	font-size: 1.225rem;
	text-align: center;

	padding: 2rem 2rem;
}

@media screen and (max-width: 600px) {
	#events {
		justify-content: space-around;

		flex-wrap: wrap;
		flex-direction: column;
	}

	#events .card {
		margin: 1rem;
		width: 22rem;
		height: 28rem;
		font-size: 1.25rem;
	}
	
	.card:not(:first-child){
		margin-left: 1rem;
	}

	.card:hover{
		box-shadow: -1px 1px 10px 1px #000;
	}

	.card:hover ~ .card {
		transform: translateX(0);
	}

	#cardHeader #eventName {

		font-size: 1.45rem;
	}

	#footDetails #eventDetails {
		height: 13rem;
		font-size: 1.125rem;
	}

	#venueGrid label{
		font-size: 1.125rem;
	}

	#cardface p {
		font-size: 2rem;
	}
	
}