.footerContainer {
	/* background-color: lime; */
	color: white;
	position: relative; 
	width: 100vw;
	height: 8%;
	border: none;

	display: flex;
	padding-top: 3em;
	align-items: center;
	justify-content: space-between;
}

.footerContainer *{
	padding: 0.25em 6px;

}

.copyright, .socials {
	margin: 12px 4vw;
}

.copyright {
	font-size: 0.85rem;
	/* margin-bottom: 18px; */
}
  
  
.socials {
	display: flex;
	justify-content: space-around;
}
  
.socials a {
	color: white;
	text-decoration: none;
	margin-left: 20px;
}

.socials img {
	margin: auto;
	height: 1.5rem;
}
  