.footer {
  color: white;
  position: relative;
  border: none;
  display: flex;
  padding-top: 3em;
  align-items: center;
  font-size: 1.5rem;
  justify-content: space-between;
  padding: 2em;
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.footer-socials a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  margin-left: 1rem;

  opacity: 0.75;
  transition: 125ms ease-in-out opacity;

  &:hover,
  &:focus {
    color: var(--accent);
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-socials {
    flex-direction: row;
    gap: 1rem;
  }
}
