.headerContainer {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 4;


	display: flex;
	padding: 1.5rem 0 1.5rem 0;
	align-items: center;
	justify-content: space-between;

	background-color:#0c1310af;
	backdrop-filter: blur(15px);

	transition: 500ms ease-in-out;


}

.headerContainer:hover #logo{
	padding: 0.25em 3em;
	margin-left: 1em;

}

#logo {
	transition: 300ms ease-in-out;
	cursor: pointer;
}

.headerContainer:hover {
	padding: 0rem 0 0rem 0;
}

.headerContainer .logo{
	width: 0; 
	aspect-ratio: 1 / 1;
	height: 100%;
	padding-top: 0.25em;

	transition: 300ms ease-in-out;
}

.headerContainer:hover .logo {
	width: 4rem;
	padding-right: 5em;
	margin-top: 1em;


}

.headerContainer #logoName{
	font-weight: 900;
	font-size: 1.25rem;
	margin-left: 3em;

	transition: 300ms ease-in-out;
}

.headerContainer:hover #logoName {
	float: right;
	font-size: 0;

}


.headerContainer #pages {
	margin-left: 10rem;
	padding-right: 3em;
}

	

.headerContainer #redirect {
	/* margin-right: 4rem; */
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 0em 3em;


	
	font-size: inherit;
	
	transition: 125ms ease-in-out;
}

.headerContainer:hover #redirect {
	padding: 3em 3em;
	margin-right: 0;
}

#redirect:hover {
	/* color: #000; */
	background-color: #000;
	border-bottom: 2px solid lightgreen;
}

button {
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	padding: 0;
	font-size: inherit;
}
  
button:focus {
	outline: none;
}