.header {
  backdrop-filter: blur(15px);
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  padding: 1.5rem 1.5rem;
  position: sticky;
  top: 0;
  transition: 300ms ease;
  z-index: 4;
}

.header-links {
  flex-basis: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.header-logo-img {
  margin: auto 0;
  aspect-ratio: 1 / 1;
  width: 4rem;
}

.header-logo-wordmark {
  display: inline-block;
  width: max-content;
  margin: auto;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.header-link {
  border-bottom: 2px solid transparent;
  color: white;
  height: 100%;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: 125ms ease-in-out;

  &:hover {
    background-color: #060606;
    border-color: var(--accent);
    font-weight: 600;
    opacity: 1;
  }
}

.header-socials {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.25rem;
  justify-content: end;
  margin: auto 0.5rem auto 0;

  & a {
    font-size: 1.5rem;
    color: white;
    opacity: 0.75;
    transition: 125ms ease-in-out opacity;

    &:hover,
    &:focus {
      color: var(--accent);
      opacity: 1;
    }
  }
}

.header-hidden {
  transform: translateY(-100%);
  transition: all 100ms ease;
}

.header-logo {
  cursor: pointer;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.section-header {
  display: block;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .header {
    flex-direction: column;
  }
}
