.headerContainer {
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 4;


	display: flex;
	padding: 1.5rem 0 1.5rem 0;
	align-items: center;
	justify-content: space-between;

	background-color:#0c1310af;
	backdrop-filter: blur(15px);

	transition: 500ms ease-in-out;

}

.headerContainer:hover #logoContainer{
	float: left;
	padding: 0.25em 3em;
	margin-left: 1vw;
}

.logo:hover{
	transform: translate(12.5%) scale(1.3);
}

#logoContainer {
	transition: 300ms ease-in-out;
	cursor: pointer;
}

.headerContainer:hover {
	padding: 0rem 0 0rem 0;
}

.headerContainer .logo{
	width: 0; 
	aspect-ratio: 1 / 1;
	height: 100%;
	padding-top: 0.25em;

	transition: 300ms ease-in-out;
}

.headerContainer:hover .logo {
	width: 4rem;
	padding-right: 5em;
	margin-top: 1em;


}

.headerContainer #logoName{
	font-weight: 900;
	font-size: 1.25rem;
	margin-left: 3em;

	transition: 300ms ease-in-out;
}

.headerContainer:hover #logoName {
	/* float: right; */
	font-size: 0;

}


.headerContainer #pages {
	float: right;
	display: flex;

	margin-right: 2vw;

	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

	

.headerContainer #redirect {
	text-decoration: none;
	color: white;
	padding: 1em 3vw;

	font-size: inherit;
	
	transition: 125ms ease-in-out;
}

.headerContainer:hover #redirect {
	padding: 3em 3vw;
	margin-right: 0;
}

#redirect:hover {
	/* color: #000; */
	background-color: #000;
	border-bottom: 2px solid lightgreen;
}

button {
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	padding: 0;
	font-size: inherit;
}
  
button:focus {
	outline: none;
}