
#hero {
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
    padding-bottom: 8rem;
    z-index: 0;

    background-image: url(../assets/sample4.jpeg);
    background-color: rgba(0, 0, 0, 0.87);
    background-blend-mode:hue;
    box-shadow: 0 0 10em 10em #0e0e13 inset;
}

#desc {
	margin-left: 0px;
    padding: 8rem 2rem;

}

#desc h1 {
	font-size: 3rem;
}

#desc p {
	font-size: 23px;
	margin-right: 60%;
}