.homeContainer {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1s ease,
    transform 1s ease;
}

.homeContainer.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

#page {
  background-color: black;
}

#main {
  width: 80%;
  margin: 0 auto;
}
